body{
  margin:0;
  background:#0f0f1a;
  color:white;
  font-family:Arial;
  text-align:center;
}

#canvas{
  width:95vw;
  max-width:600px;
  height:60vh;
  background:white;
  border-radius:10px;
  box-shadow:0 0 20px #00f7ff;
  touch-action:none;
}

.color{
  width:30px;
  height:30px;
  border-radius:50%;
  display:inline-block;
  margin:5px;
  border:2px solid white;
}
